{% extends 'home/base.html' %}
{% block contenido %}
        <a href="{% url 'home:index' %}">inicio</a>
        <h1>Lista de productos</h1>
    <ul>
    {% for producto in productos %}
        <li>{{ producto.nombre }} - {{ producto.descripcion }} - ${{ producto.precio }}</li>
    {% empty %}
        <li>No hay productos disponibles.</li>
    {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">crear</button>
      </form>
{% endblock contenido %}
